:root{
    --primary-color: rgba(0, 11, 58, 1);
    --secondary-color: #c63940;
    --secondary-dark: #a3262d;
    --content-size: 16px;
    --primary-font: "Montserrat", sans-serif;
    --container-padding: 45px;
    --button-height: 45px;
}